.perfil{
    display: flex;
    align-items: center;
    margin: 0 15%;
    padding-top: 50px;
    justify-content: center;
    gap: 30px;
    
}
.perfil-presentaciom-nombre {
    display: flex;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}
.perfil-presentaciom-p{
    margin-top: 15px;
}
.redes{
    
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 20px;
}
.redes-item a {
    color: #464646;
    border: 1px solid #464646;
    border-radius: 10px;
    padding: 0 5px;
}
.redes-item a:hover{
    width: 40%;
   background-color: grey;
   color: #fefefefe;
   font-size: 18px;
   font-weight: bold;
   transition: 0.3s all;
}
.portada img{
    width: 400px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px gray;
}

@media (max-width: 480px) {
    .perfil{
        
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 10%;
        padding-top: 15px;
        justify-content: center;
        gap: 30px;
        
    }
    .perfil-presentaciom-nombre {
        display: flex;
        padding: 10px 15px;
        font-size: 30px;
        font-weight: 700;
        
    }
    .perfil-presentaciom-p{
        padding: 15px;
    }
    .redes{
        padding: 10px 15px;
        font-size: 10px;
        gap: 5px;
    }
    .portada img{
        width: 200px;
        border-radius: 50%;
        box-shadow: 0px 0px 8px gray;
    }
}